* {
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  color: rgb(237, 237, 237);
  background-color: #1b1d1f;
  visibility: hidden;
}

a {
  color: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: rgba(199, 60, 64, 1);
}

.bold {
  font-weight: 500;
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.sfumatura-testo {
  background: linear-gradient(
    180deg,
    rgba(199, 60, 64, 1) 0%,
    rgba(116, 23, 9, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Per compatibilità Firefox */
  background-clip: text;
  color: transparent;
}

.underline {
  --after-scale: 1;
  --after-opacity: 1;
  position: relative;
}

.underline::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #f0f0f0;
  transform: scale(var(--after-scale));
  opacity: var(--after-opacity);
  transition: transform 0.2s, opacity 0.2s; /* opzionale, ma aiuta se ci sono interruzioni */
}

.evidenzia,
.evidenzia__nero {
  position: relative;
  display: inline-block;
  z-index: 1;
  --after-scale: 1;
  --after-opacity: 1;
}

.evidenzia::after,
.evidenzia__nero::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: "";
  width: 100%;
  height: 50px;
  background-color: rgba(199, 60, 64, 1);
  transform: scaleY(var(--after-scale));
  transform-origin: bottom;
  opacity: var(--after-opacity);
  transition: transform 0.2s, opacity 0.2s; /* opzionale, ma aiuta se ci sono interruzioni */
  z-index: -1;
}

.evidenzia__nero::after {
  background-color: #1b1d1f;
}

header {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #1b1d1f;
  background-size: cover;
}

.header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  mix-blend-mode: overlay;
  pointer-events: none; /* opzionale: evita che il video intercetti i click */
  filter: blur(5px);
}

.header-logo-container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.header-text {
  color: rgb(237, 237, 237);
  z-index: 1;
  text-align: center;
  text-transform: uppercase;
  padding: 2rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header-sottotitolo {
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.chi-siamo,
.schedule,
.carousel,
.bjj,
.cta {
  width: 100vw;
  height: 100vh;
  background-color: #1b1d1f;
  padding: 12rem;
  overflow: hidden;
  background-image: url("../assets/bg.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  background-repeat: repeat;
}

.schedule,
.carousel,
.bjj,
.cta {
  height: auto;
}

.carousel {
  padding: 0;
}

.bjj {
  background: linear-gradient(
    90deg,
    rgba(199, 60, 64, 1) 0%,
    rgba(116, 23, 9, 1) 100%
  );
}

.chi-siamo p,
.bjj p {
  text-align: justify;
  font-size: 2.5rem;
  text-wrap: wrap;
  line-height: 1.12;
}

.chi-siamo h2,
.schedule h2,
.bjj h2,
.cta h2,
.schedule-table th {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0.5rem;
}

.bjj h2 {
  color: #1b1d1f;
}

.banner-video {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1d1f;
  background-size: cover;
}

.banner-video video {
  width: 100%;
  object-fit: cover;
  pointer-events: none; /* opzionale: evita che il video intercetti i click */
}

.schedule-container {
  overflow-x: auto;
  max-width: 100%;
}

.schedule-table {
  border-collapse: collapse;
  background: #1b1d1f;
  /* border: 2px solid rgba(199, 60, 64, 1); */
  box-shadow: 0 0 20px rgba(116, 23, 9, 1);
  table-layout: fixed;
  width: 100%;
}

.schedule-table thead {
  background: linear-gradient(90deg, rgba(199, 60, 64, 1), rgba(116, 23, 9, 1));
}

.schedule-table thead th:first-child {
  background: #2a2a2a;
  color: #838383;
}

.schedule-table th,
.schedule-table td {
  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1; /* moderne */
  text-align: center;
  border: 1px solid #333;
  padding: 0;
  vertical-align: middle;
  font-size: 1.25rem;
}

.schedule-table td {
  background: #2a2a2a;
  transition: background 0.3s;
  color: #fff;
  font-weight: 300;
}

.schedule-table td:not(:empty):hover {
  background: rgba(199, 60, 64, 1);
  color: #fff;
  cursor: pointer;
}

.cta {
  font-size: 1.5rem;
  line-height: 1.2;
}

footer {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

footer img {
  width: 40px;
  height: 40px;
}

.glide__arrow {
  color: white;
  background-color: #fff;
  z-index: 1000;
}

.glide__slide img {
  width: 100%;
}

/* Tablet (da 769px a 1024px) */
@media (max-width: 1024px) and (min-width: 769px) {
  .evidenzia::after,
  .evidenzia__nero::after {
    height: 45px;
  }

  .header-logo-container {
    width: 350px;
  }

  .header-sottotitolo {
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
  }

  .chi-siamo,
  .schedule,
  .bjj,
  .cta {
    padding: 6rem;
  }

  .chi-siamo h2,
  .schedule h2,
  .bjj h2,
  .cta h2 {
    font-size: 1.25rem;
  }

  .chi-siamo p,
  .bjj p {
    font-size: 2rem;
  }

  .schedule-table th,
  .schedule-table td {
    font-size: 0.9rem;
  }

  .schedule-table th {
    padding: 1rem;
  }
}

/* Mobile (fino a 768px) */
@media (max-width: 768px) {
  .evidenzia::after,
  .evidenzia__nero::after {
    height: 25px;
  }

  .header-logo-container {
    width: 250px;
  }

  .header-sottotitolo {
    font-size: 1rem;
    letter-spacing: 0.25rem;
  }

  .chi-siamo,
  .schedule,
  .bjj,
  .cta {
    padding: 3rem;
  }

  .chi-siamo h2,
  .schedule h2,
  .bjj h2,
  .cta h2 {
    font-size: 1rem;
  }

  .chi-siamo p,
  .bjj p {
    font-size: 1.15rem;
  }

  .cta p {
    font-size: 0.9rem;
    text-align: justify;
  }

  .schedule-table th,
  .schedule-table td {
    font-size: 0.9rem;
  }

  .schedule-table th {
    padding: 1rem;
  }

  footer {
    font-size: 0.9rem;
  }
}
